<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MegatecUpsController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	  <probing privatePath="lib" />
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Linq" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Core" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <MegatecUpsController.Properties.Settings>
      <setting name="vid" serializeAs="String">
        <value>0665</value>
      </setting>
      <setting name="pid" serializeAs="String">
        <value>5161</value>
      </setting>
      <setting name="runOnStartup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="batteryVoltage_min" serializeAs="String">
        <value>10.4</value>
      </setting>
      <setting name="batteryVoltage_max" serializeAs="String">
        <value>13.7</value>
      </setting>
      <setting name="batteryVoltage_maxOnLoad" serializeAs="String">
        <value>12.5</value>
      </setting>
      <setting name="shutdownAction" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="shutdownVoltage" serializeAs="String">
        <value>10.4</value>
      </setting>
      <setting name="alwaysOnTop" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="upsVA" serializeAs="String">
        <value>1050</value>
      </setting>
      <setting name="runMinimized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="sshEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="sshHost" serializeAs="String">
        <value />
      </setting>
      <setting name="sshPort" serializeAs="String">
        <value>22</value>
      </setting>
      <setting name="sshLogin" serializeAs="String">
        <value />
      </setting>
      <setting name="sshPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="sshCommand" serializeAs="String">
        <value>poweroff</value>
      </setting>
      <setting name="upsAction" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="isBeeperOn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="shutdownActionTimeout" serializeAs="String">
        <value>30</value>
      </setting>
    </MegatecUpsController.Properties.Settings>
  </userSettings>
</configuration>